
<div class="pt-2" xmlns:th="http://www.thymeleaf.org">
    <div id="myCarousel" class="carousel slide w-100 mx-auto" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/banner/banner4.jpg" style="object-fit: cover;" alt="">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/banner/banner5.jpeg" style="object-fit: cover;" alt="">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/banner/banner3.jpg" style="object-fit: cover;" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container marketing pt-4">
        <div class="row">
            <div class="col-lg-4">
                <img class="mb-3" src="/assets/images/icon/Thucudoimoi.jpeg" alt="">
                <h2>Thu cũ đổi mới</h2>
                <p>Lên đời sản phẩm chỉ với chi phí thấp</p>
            </div>
            <div class="col-lg-4">
                <img class="mb-3" src="/assets/images/icon/Baohanhdailau.jpeg" alt="">
                <h2>Bảo hành dài lâu</h2>
                <p>Chính sách bảo hành uy tín và dài lâu của cửa hàng</p>
            </div>
            <div class="col-lg-4">
                <img class="mb-3" src="/assets/images/icon/Thutuctragop.jpeg" alt="">
                <h2>Thủ tục trả góp</h2>
                <p>Mọi sản phẩm đều có thể áp dụng trả góp</p>
            </div>
        </div>
        <hr class="featurette-divider">
    </div>
</div>