<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/shop :: dynamic(~{::main})}">

<body>
    <main th:object="${order}">
        <section>
            <div class="container bannershop p-5">
                <div class="row p-4 text-center mx-auto">
                    <H4>CHI TIẾT ĐẶT HÀNG</H4>
                </div>
                <div class="row  d-flex justify-content-center">
                    <div class="col w-100">
                        <nav class=" d-flex justify-content-center"
                            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                            aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a style="font-size: 20px;" th:href="@{/index}">Trang
                                        chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page" style="font-size: 20px;">Chi tiết
                                    đặt hàng</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-10">
                        <div class="row pt-4 pb-2">
                            <h5>THÔNG TIN ĐẶT HÀNG</h5>
                            <!-- <hr> -->
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card border-1 mb-2">
                                    <div class="card-body">
                                        <span>Mã hoá đơn: <span th:text="*{id}"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-1 mb-2">
                                    <div class="card-body">
                                        <span>Người đặt: <span th:text="*{account.username}"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card border-1 mb-2">
                                    <div class="card-body">
                                        <span>Ngày đặt: <span th:text="*{createDate}"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col">
                                <div class="card border-1 mb-2">
                                    <div class="card-body">
                                        <span>Địa chỉ giao hàng: <br> &nbsp;&nbsp; <span th:text="*{address}"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section>
            <div class="container mt-4">
                <div class="row d-flex justify-content-center">
                    <div class="col-10">
                        <div class="row py-4">
                            <h6>DANH SÁCH SẢN PHẨM ĐẶT HÀNG</h6>
                        </div>
                        <div class="listcart">
                            <table class="table text-center tableGioHang">
                                <thead>
                                    <tr>
                                        <th scope="col">Mã</th>
                                        <th scope="col">Sản phẩm</th>
                                        <th scope="col">Giá</th>
                                        <th scope="col">Số lượng</th>
                                        <th scope="col">Tổng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="detail : *{orderDetails}" th:object="${detail}">
                                        <td class="py-5">[[*{product.id}]]</td>
                                        <td class="py-5">[[*{product.name}]]</td>
                                        <td class="py-5">$[[*{#numbers.formatDecimal(price, 0, 'COMMA', 2, 'POINT')}]]</td>
                                        <td class="py-5">[[*{quantity}]]</td>
                                        <td class="py-5">$[[*{#numbers.formatDecimal(price*quantity, 0, 'COMMA', 2, 'POINT')}]]</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-11 text-end">
                        <a class="btn btn-outline-success mb-2" th:href="@{/index}">Quay trở lại trang chủ</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>