<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/signin.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body class="text-center">
    <main class="form-signin">
        <form th:action="@{/security/changePass}" method="post">
            <!-- <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
            <h1 class="h3 mb-3 fw-normal"><img src="/assets/images/logo/LogoMobileStore_White.png" width="72"
                    alt=""></h1>
            <h5 style="color: red;" th:text="${message}"></h5>
            <p>Thay đổi mật khẩu của bạn tại đây nhé!</p>
            <div class="form-floating mb-2">
                <input name="mk_1" required type="password" class="form-control" id="floatingMail"
                    placeholder="abc" />
                <label for="floatingMail">Mật khẩu mới</label>
            </div>
            <div class="form-floating mb-4">
                <input name="mk_2" required type="password" class="form-control" id="floatingMail"
                    placeholder="abc" />
                <label for="floatingMail">Nhập lại mật khẩu mới</label>
            </div>
            <button class="w-100 btn btn-lg btn-outline-primary" type="submit">Gửi</button>
            <div class="row forgot pt-2 ">
                <p>Chưa có tài khoản ? <a th:href="@{/security/register}" class="text-decoration-none link-success"> Đăng kí ngay !</a>
                </p>
            </div>
            <div class="row"><a th:href="@{/security/login/form}" class="text-decoration-none link-secondary">Quay trở lại
                    trang đăng nhập</a></div>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 - PS13196 - JAVA6</p>
        </form>
    </main>
</body>

</html>