<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/signin.css">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>

<body class="text-center">
    <main class="form-signin">
        <form th:action="@{/security/login}" method="post">
            <h1 class="h3 mb-3 fw-normal"><img src="/assets/images/logo/LogoMobileStore_White.png" width="72">
            </h1>
            <h5 style="color: red;" th:text="${message}"></h5>
            <div class="form-floating">
                <input name="username" type="text" class="form-control" id="floatingInput"
                    placeholder="name@example.com" />
                <label for="floatingInput">Tên đăng nhập</label>
            </div>
            <div class="form-floating">
                <input name="password" type="password" class="form-control" id="floatingPassword"
                    placeholder="Password" />
                <label for="floatingPassword">Mật khẩu</label>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input name="remember-me" type="checkbox" checked> Lưu tên đăng nhập ?
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Đăng nhập</button>
            <div class="text-center mt-2">
                <span>Hoặc đăng nhập bằng</span>
            </div>
            <div class="text-center mt-2">
                <a class="btn btn-primary" href="/oauth2/authorization/facebook"
                    style="border-radius: 50%; color: white; cursor: pointer;"><i class="fab fa-facebook"></i></a>
                |
                <a class="btn btn-danger" href="/oauth2/authorization/google"
                    style="border-radius: 50%; color: white; cursor: pointer;"><i class="fab fa-google"></i></a>
            </div>
            <div class="row forgot pt-2 ">
                <a th:href="@{/security/forgot}" class="text-decoration-none link-danger"> Bạn quên mật khẩu ?</a>
            </div>
            <div class="row forgot pt-2 ">
                <p>Chưa có tài khoản ? <a th:href="@{/security/register}" class="text-decoration-none link-success">
                        Đăng
                        kí ngay !</a> </p>
            </div>
            <div class="row mt-2"><a th:href="@{/index}" class="text-decoration-none link-secondary">Quay trở lại
                    trang chủ</a></div>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 - PS13196 - JAVA6</p>
        </form>
    </main>
</body>

</html>